.action-edit:hover {
    border-radius: 50% !important;
    background-color: #edf1fa !important;
    color: #12b886 !important;
}

.action-open:hover {
    border-radius: 50% !important;
    background-color: #edf1fa !important;
    color: #4a6ee0 !important;
}

.action-delete:hover {
    border-radius: 50% !important;
    background-color: #faebec !important;
    color: #dc3545 !important;
}