<app-header></app-header>

<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1">
            <li *ngIf="viewMode == 'list'" class="breadcrumb-item active h5 mb-0" aria-current="page">Drugs
                <span class="ml-2 badge badge-info bg-handy">{{ totalDrugs }}</span>
            </li>
            <li *ngIf="viewMode == 'edit'" class="breadcrumb-item active h5" aria-current="page">Editing
                <!-- {{ drug?.name | titlecase }} -->
            </li>
            <li *ngIf="viewMode == 'new'" class="breadcrumb-item active h5" aria-current="page">New Drug
            </li>
        </ol>
    </nav>
</div>




<div *ngIf="viewMode == 'list'" class="container-fluid">
    <div class="row d-flex justify-content-end my-4">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <button (click)="viewMode = 'new'" matRipple class="btn ml-auto btn-lg btn-handy my-1 w-100">
                <mat-icon>add</mat-icon>Add Drug
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let drug of drugs" class=" col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card handy-border handy-card text-center text-muted my-2">
                <div class="d-flex justify-content-end pb-1 pt-2 px-2">
                    <mat-icon matTooltip="Click for options" matTooltipPosition="above" [matMenuTriggerFor]="menu"
                        class="pointer branch-more text-muted mb-0 mr-1">expand_more
                    </mat-icon>
                    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
                        <div class="font-weight-bold">
                            <div class="list-group-item text-green" mat-menu-item>
                                <mat-icon class="text-green">
                                    edit</mat-icon>Edit
                            </div>
                            <button class="list-group-item text-danger" (click)="onDeleteDialog(drug._id)"
                                mat-menu-item>
                                <mat-icon class="text-danger">delete</mat-icon>Delete
                            </button>
                        </div>
                    </mat-menu>
                </div>
                <div class="card-body pt-0">
                    <div [routerLink]='["/drugs", drug._id]' class="h5 mb-0 text-handy pointer">
                        {{ drug.name | titlecase }}
                    </div>
                    <div class="text-small mb-0">{{ drug.addedAt | date:'longDate' }},
                        {{ drug.addedAt | date:'shortTime' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="drugs.length <= 0" class="text-center mt-5 text-muted lead font-italic">No drug(s) added yet...
    </div>
</div>


<div *ngIf="viewMode == 'new'" class="container d-flex justify-content-center">
    <div class="card handy-card text-muted">
        <div class="card-header h5 bg-transparent text-handy">New Drug</div>
        <div class="card-body text-center px-5">

            <form (submit)="onSubmitDrug(drugForm)" #drugForm="ngForm">
                <div class="row">
                    <div class="col-12">

                        <div class="h6 text-left mt-4 mb-1">Name</div>
                        <div class="input-group">
                            <div class="input-group-prepend bg-light" *ngIf="name.touched && name.valid">
                                <span class="input-group-text bg-white">
                                    <mat-icon class="text-green">done_all</mat-icon>
                                </span>
                            </div>
                            <input type="text" class="form-control form-control-lg" name="inputDrugName" ngModel
                                required minlength="3" autocomplete="off" placeholder="Drug name..." #name="ngModel"
                                required>
                        </div>
                        <div class="alert alert-dark p-1 m-0" *ngIf="name.touched && !name.valid">
                            <div *ngIf="name.errors.required">
                                This field is required.
                            </div>
                            <div *ngIf="name.errors.minlength">
                                Minimum 3 characters needed.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="h6 text-left mt-4 mb-1">Description</div>
                        <div class="input-group">
                            <div class="input-group-prepend bg-light" *ngIf="description.touched && description.valid">
                                <span class="input-group-text bg-white">
                                    <mat-icon class="text-green">done_all</mat-icon>
                                </span>
                            </div>
                            <textarea class="form-control form-control-lg" name="inputDescription" ngModel required
                                minlength="3" autocomplete="off" placeholder="Description..."
                                #description="ngModel"></textarea>
                        </div>
                        <div class="alert alert-dark p-1 m-0" *ngIf="description.touched && !description.valid">
                            <div *ngIf="description.errors.required">
                                This field is required.
                            </div>
                            <div *ngIf="description.errors.minlength">
                                Minimum 3 characters needed.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mb-2">
                    <button (click)="viewMode = 'list'" mat-raised-button
                        class="btn btn-danger btn-lg mt-5 mr-2">Cancel</button>
                    <button mat-raised-button type="submit" class="btn btn-handy btn-lg mt-5 ml-3 py-1"
                        [disabled]="!drugForm.valid">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>