<app-header></app-header>

<!-- <div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-5 py-1">
            <a class="breadcrumb-item text-handy h5 mb-0" routerLink="/prescriptions" aria-current="page">Prescriptions
            </a>
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">{{ patient?.firstName | titlecase }}
                {{ patient?.lastName | titlecase }}
            </li>
        </ol>
    </nav>
</div> -->


<div class="container p-5 d-flex justify-content-center">
    <div class="card handy-card text-muted" style="width: 50rem;">
        <div class="card-body p-5">
            <hr>
            <div class="d-flex justify-content-between">
                <div class="h5 text-handy">{{ doctor?.firstName |titlecase }} {{ doctor?.lastName | titlecase }}</div>
                <div class="h6">Prescription Id: <span class="ml-3">{{ prescription?.prescriptionId }}</span></div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="h6 text-handy">Doctor / Physicial</div>
                <div class="h6">Date: <span class="ml-3">{{ prescription?.createdAt | date:'mediumDate' }}</span>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="h6 text-handy">09067545423</div>

            </div>

            <hr>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis ab, mollitia sunt suscipit optio fugit
            maxime. Sint aperiam quibusdam tenetur non earum, vero ipsa iste, mollitia amet, libero officia.
            <hr>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis ab, mollitia sunt suscipit optio fugit
            maxime. Sint aperiam quibusdam tenetur non earum, vero ipsa iste, mollitia amet, libero officia.
        </div>
    </div>
</div>