<mat-drawer-container class="containerr" autosize>
    <mat-drawer #drawer class="sidebar lead font-weight-bold" mode="side" [opened]="userIsAuthenticated">

        <div class="sidebar-content">
            <div class="text-center py-3 p-0">
                <p class="text-handy h4 mb-0">{{ title }}</p>
            </div>
            <hr class="mt-0">

            <ul class="mb-5 pl-0 pt-5">

                <li matRipple>
                    <a class="h6 mb-0" routerLink="/dashboard" routerLinkActive="current">
                        <mat-icon class="mr-2">dashboard</mat-icon>Dashboard
                    </a>
                </li>

                <li matRipple>
                    <a class="h6 mb-0" routerLink="/drugs" routerLinkActive="current">
                        <mat-icon class="mr-2">colorize</mat-icon>Drugs
                    </a>
                </li>

                <li matRipple>
                    <a class="h6 mb-0" routerLink="/patients" routerLinkActive="current">
                        <mat-icon class="mr-2">pregnant_woman</mat-icon>Patients
                    </a>
                </li>

                <li matRipple>
                    <a class="h6 mb-0" routerLink="/prescriptions" routerLinkActive="current">
                        <mat-icon class="mr-2">description</mat-icon>Prescriptions
                    </a>
                </li>
            </ul>
        </div>

    </mat-drawer>
    <div>
        <mat-toolbar class="my-toolbar sticky-top bg-white container-fluid">

            <!-- <a class="pointer ml-3 text-handy" (click)="drawer.toggle()">
                <mat-icon>reorder</mat-icon>
            </a> -->
            <div class="d-flex justify-content-between">
                <div class="h5">
                    <mat-icon class="text-handy">power</mat-icon>
                </div>

                <!-- <div class="ml-auto mr-5 pointer" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="text-handy">account_circle</mat-icon>
                </div>
                <mat-menu #menu="matMenu" xPosition="before">
                    <ng-template matMenuContent>
                        <div class="card-body text-center text-mute p-0">
                            <ul class="list-group list-group-flush">
        
                                <li matRipple (click)="onLogout()"
                                    class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                                    Logout</li>
                            </ul>
                        </div>
                    </ng-template>
                </mat-menu> -->
            </div>
        
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>