<mat-drawer-container class="containerr" autosize>
    <mat-toolbar *ngIf="userIsAuthenticated" class="sticky-top bg-white container-fluid">
        <div class="text-handy pointer" (click)="drawer.toggle()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div class="ml-auto mr-3 pointer" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="text-handy">account_circle</mat-icon>
            <mat-icon class="text-handy">expand_more</mat-icon>
        </div>  
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <div class="card-body text-center text-mute p-0">
                    <ul class="list-group list-group-flush">

                        <li matRipple (click)="onLogout()"
                            class="list-group-item list-group-item-action pointer h6 px-5 py-3">
                            Logout</li>
                    </ul>
                </div>
            </ng-template>
        </mat-menu>

    </mat-toolbar>
    <mat-drawer #drawer class="sidebar lead font-weight-bold" mode="over">

        <div class="sidebar-content">
            <div class="text-center py-3 p-0">
                <p class="text-handy h4 mb-0">{{ title }}</p>
            </div>

            <hr class="mt-0">
            <ul class="mb-5 pl-0 pt-5">

                <li (click)="drawer.close()" matRipple>
                    <a class="h6 mb-0" routerLink="/dashboard" routerLinkActive="current">
                        <mat-icon class="mr-2">dashboard</mat-icon>Dashboard
                    </a>
                </li>

                <li (click)="drawer.close()" matRipple>
                    <a class="h6 mb-0" routerLink="/drugs" routerLinkActive="current">
                        <mat-icon class="mr-2">colorize</mat-icon>Drugs
                    </a>
                </li>

                <li (click)="drawer.close()" matRipple>
                    <a class="h6 mb-0" routerLink="/patients" routerLinkActive="current">
                        <mat-icon class="mr-2">pregnant_woman</mat-icon>Patients
                    </a>
                </li>

                <li (click)="drawer.close()" matRipple>
                    <a class="h6 mb-0" routerLink="/prescriptions" routerLinkActive="current">
                        <mat-icon class="mr-2">description</mat-icon>Prescriptions
                    </a>
                </li>
            </ul>
        </div>

    </mat-drawer>
    <div>

        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>