<app-header></app-header>

<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Dashboard
                <!-- <span class="ml-2 badge badge-info bg-handy">{{ totalCustomers }}</span> -->
            </li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente veritatis voluptatem
                    recusandae rem vel totam exercitationem labore aperiam nihil! Culpa inventore illo eius similique
                    fugiat eligendi ullam, nihil quas?
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="card handy-card my-2">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum, non eligendi modi aliquid nostrum officiis
            aspernatur dicta ducimus temporibus iste dolorum minus dolore aliquam quis reiciendis commodi soluta beatae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum, non eligendi modi aliquid nostrum officiis
            aspernatur dicta ducimus temporibus iste dolorum minus dolore aliquam quis reiciendis commodi soluta beatae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum, non eligendi modi aliquid nostrum officiis
            aspernatur dicta ducimus temporibus iste dolorum minus dolore aliquam quis reiciendis commodi soluta beatae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum, non eligendi modi aliquid nostrum officiis
            aspernatur dicta ducimus temporibus iste dolorum minus dolore aliquam quis reiciendis commodi soluta beatae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum, non eligendi modi aliquid nostrum officiis
            aspernatur dicta ducimus temporibus iste dolorum minus dolore aliquam quis reiciendis commodi soluta beatae.
        </div>
    </div>
</div>