<!-- <app-header></app-header> -->

<div class="container-fluid px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-4 py-1">
            <li class="breadcrumb-item active h5 mb-0" aria-current="page">Dashboard
                <!-- <span class="ml-2 badge badge-info bg-handy">{{ totalCustomers }}</span> -->
            </li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    <div class="h3 text-handy">{{ totalPatients | number }}</div>
                    <div class="h6 text-muted">Total Patients</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    <div class="h3 text-handy">{{ totalDrugs | number }}</div>
                    <div class="h6 text-muted">Total Drugs</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card handy-card my-2">
                <div class="card-body">
                    <div class="h3 text-handy">{{ totalPrescriptions | number }}</div>
                    <div class="h6 text-muted">Total Prescriptions</div>
                </div>
            </div>
        </div>

    </div>
</div>